<head>
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js"></script>
    <link rel="icon" type="image/x-icon" href="/Images/rumbi.webp">
    <title>Rumbi</title>
</head>
<body>
    <img  class="camera" src="/get/video/camera">
    <div class="Sidebar" id="Sidebar">
        <div id="objs" style="width: inherit;height: inherit;top:-32.5;position: absolute;">
            <h1 id="title" style="width: inherit;height: 20; top: 10;left: -3; text-align: center;position: absolute;">Head</h1>
            <div id="page" style="top: 105; width: inherit;height: 20; text-align: center;align-items: center;position: absolute;">
                <div style="width:  100%;height: 125;">
                    <h3 style="top: -30;position: absolute;width: 100%;">Current Animation</h3>
                    <img class="pixelated" id="preimg" src="/get/lights/head" style="width: 50%;position: relative;top: 40;">
                </div>
                <!-- <div style="width: 100%;top: 170;height: 50;position: relative;">
                    <h3 style="left: 10;position: absolute;">Head LED color</h3>
                    <input type="color" style="position: absolute;top: 25;right: 10;">
                </div> -->
                <div style="width: 100%;top: 175;position: relative;">
                    <h3 style="width: 100%;">Animations</h3>
                    <div id="anims" style="width: 100%;align-items: center;"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="UICreation.js"></script>
    <script src="pythoncom.js"></script>
    <script>
        const array = ["Off","Full","Loading1","Loading2","Loading3","Loading4","Loading5","Loading6"];

        array.forEach(function(element) {
            loadheadbutton(document.getElementById("anims"),element)
        });

        const prev = document.getElementById("preimg")
        setInterval(function() {
            fetch("/get/lights/head")
                .then(response => response.blob())
                .then(blob => {
                    const objectURL = URL.createObjectURL(blob);
                    prev.src = objectURL;
                })
        }, 5000);
    </script>
</body>